<header class="main-header">
  Player Details Page
</header>

<mat-card class="player-card">
  <mat-card-header>
    <mat-card-title>{{player.fullname}}</mat-card-title>
    <mat-card-subtitle>Position: {{player.position}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="30px">
      <mat-grid-tile>
        <b>Age: </b>&nbsp;&nbsp;&nbsp;<em>{{player.date_of_birth| amTimeAgo:true}} old</em>
      </mat-grid-tile>
      <mat-grid-tile>
        <b>Height: </b>&nbsp;&nbsp;&nbsp;<em>{{player.height || 'Unknown'}}</em>
      </mat-grid-tile>
      <mat-grid-tile>
        <b>Club: </b>&nbsp;&nbsp;&nbsp;<em>{{player.club}}</em>
      </mat-grid-tile>
      <mat-grid-tile>
        <b>Goals: </b>&nbsp;&nbsp;&nbsp;<em>{{player.goals}}</em>
      </mat-grid-tile>
      <mat-grid-tile>
        <b>Number: </b>&nbsp;&nbsp;&nbsp;<em>{{player.no}}</em>
      </mat-grid-tile>
      <mat-grid-tile>
        <b>Date of Birth: </b>&nbsp;&nbsp;&nbsp;<em>{{player.date_of_birth| amDateFormat:'LL'}}</em>
      </mat-grid-tile>
      <mat-grid-tile>
        <b>Place of Birth: </b>&nbsp;&nbsp;&nbsp;<em>{{player.place_of_birth || 'Unknown'}}</em>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card-content>
</mat-card>
