<div class="nav-container mat-elevation-z6">
  <mat-toolbar class="mat-primary">
    <nav class="mat-nav-list">
      <button routerLink="/" mat-button>
        World Cup
      </button>
    </nav>
  </mat-toolbar>
</div>

<mat-sidenav-container cdk-scrollable="">
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

