@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  box-sizing: border-box;
  background: #fafafa;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

header.main-header{
  background: #673ab7;
  color: white;
  font-weight: 300;
  margin: 0;
  padding: 28px 8px;
  font-size: 20px;
}
