<header class="main-header">
  Team Details Page
</header>

<mat-card class="team-card">
  <mat-card-header>
    <div mat-card-avatar><img [src]="team.flag"></div>
    <mat-card-title>{{team.name}}</mat-card-title>
    <mat-card-subtitle>Coach: {{team.coach}}</mat-card-subtitle>
  </mat-card-header>
  <table mat-table [dataSource]="players" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> <a routerLink="/team/{{element.team_id}}/player/{{element.id}}">{{element.id}}</a> </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef> Fullame </th>
      <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element"> {{element.no}} </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
